*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}
body{
    background:#002339;
    color:#fff;

}
.container{
    margin:15%;
    width:90%;
    max-width:500px;
}
.display{
    width:100%;
    margin-top:25px;
    margin-bottom:25px;
    background:#fff;
    color:#333;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:18px 20px;;
    border-radius:10px;
}
.container h1{
    font-weight:400;
    font-size:40px;
    
}

.container h1 span{
    color:rgb(88, 240, 220);
    
     
}
.display img{
    cursor:pointer;
    width:30px;
}
.display input{
    border:0;
    outline:0;
    font-size:25px;
}
.container button img{
    width:15px;
    margin-right:15px;
}
.container button{
    border:0;
    outline:0;
    color:black;
    font-size:20px;
    font-weight:200px;
    display:flex;
    background:rgb(88, 240, 220);
    cursor:pointer;
    border-radius:40px;
    align-items:center;
    justify-content:center;
    padding:10px 24px;
    margin-left:90px;
    

}